h1{
    background-color: pink;
}

h3{
    background-color: rgb(173, 228, 173);
    font-size: large;
}
p{
    font-style:italic;  
    font-weight:bolder;
}

#p2{
    font-size:32px;
    font-family: monospace, 'Courier New', Courier;
    font-style:italic;  
    font-weight:bold;
    font-variant:small-caps;
    color:brown
}
h5{
    font-size:200%; /*2px=2em=200%*/
}

body{
    background-color: hsl(242, 84%, 93%);
}   

div {
    width: 320px;
    padding: 10px;
    border: 5px solid rgb(133, 115, 212);
    margin: 0;
  }

  